.watering-app .appDemoFontIconsWithClassnames *:after {
      box-sizing: border-box;
    }
    
    .watering-app [class^="icon-"]:before,
    .watering-app [class*=" icon-"]:before {
      font-family: "icomoon";
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      text-transform: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    .watering-app .icon-home:before {
      content: "\e900";
    }
    
    .watering-app .icon-clock:before {
      content: "\e94e";
    }
    
    .watering-app .icon-user-plus:before {
      content: "\e973";
    }
    
    .watering-app .icon-google-plus2:before {
      content: "\ea89";
    }
    
    .watering-app .icon-youtube4:before {
      content: "\ea9a";
    }
    
    .watering-app .icon-settings:before {
      content: "\e600";
    }