<!DOCTYPE html>
<html lang="en" ng-app="wateringApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>Watering</title>

    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    <style type="text/css">
        * {
            -webkit-touch-callout: none;
            -webkit-user-select: none; /* Disable selection/copy in UIWebView */
        }
    </style>
</head>
<body ng-controller="WateringController as waterCtl">
<div>
    <md-content class="md-padding">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Watering v0.1</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-sm="column" layout-align="center center" layout-wrap
                             ng-show="!waterCtl.isWatering"
                             class="md-padding">
                <md-button ng-click="waterCtl.waterFor(100)" class="md-raised md-primary">water 100ml</md-button>
                <md-button ng-click="waterCtl.waterFor(250)" class="md-raised md-primary">water 250ml</md-button>
                <md-button ng-click="waterCtl.waterFor(500)" class="md-raised md-primary">water 500ml</md-button>
                <md-button ng-click="waterCtl.waterFor(1000)" class="md-raised md-primary">water 1000ml</md-button>
            </md-card-actions>

            <div ng-show="waterCtl.isWatering"
                    layout="row" layout-sm="column" layout-align="space-around"
                 class="md-padding">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Waterings</span>
                </md-card-title-text>
            </md-card-title>
            <div class="md-padding">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="model in waterCtl.history.history">
                        <div class="md-list-item-text">
                            <h3>{{model.quantity}} ml</h3>
                            <p>{{model.waterdate}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Last refill</span>
                </md-card-title-text>
            </md-card-title>
            <div class="md-padding">
                {{waterCtl.history.last_filling.filldate}}
            </div>
            <div class="md-padding">
                <md-progress-linear md-mode="determinate" value="{{waterCtl.history.remaining}}" maximum="{{waterCtl.history.last_filling.quantity}}"></md-progress-linear>
            </div>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Diagnosis</span>
                </md-card-title-text>
            </md-card-title>
            <div class="md-padding">
                {{waterCtl.error}}
            </div>
        </md-card>

    </md-content>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


<script type="text/javascript">

    var app = angular.module('wateringApp', ['ngMaterial']);

    app.config(function($mdThemingProvider) {
        $mdThemingProvider.theme('default')
                .primaryPalette('blue')
                .accentPalette('red');
    })

    app.controller('WateringController', function ($http, $scope, $location) {

        var self = this;
        self.count = 0;
        self.local_status = "initialized";
        self.remote_status = "none";
        self.error = "";
        self.mode = "none";
        self.isError = false;

        self.isWatering = false;

        self.baseurl = "/watering.api/";

        self.waterFor = function (duration) {
            self.isWatering = true;

            $http.get(self.baseurl + "water/" + duration)
                    .then(function successCallback(response) {
                        self.error = response.data;
                        self.isError = false;
                        self.isWatering = false;
                    }, function errorCallback(response) {
                        self.error = response;
                        self.isError = true;
                        self.isWatering = false;
                    });
        }

        $http.get(self.baseurl + "history")
                .then(function successCallback(response) {
                    self.history = response.data;
                }, function errorCallback(response) {
                    self.error = response;
                });
    });

</script>

</body>

</html>
